
<% include template/head %>

<body>
<div class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-search"></span> Search</h1>


        <form id ="form" action="/find" method="post">
            <select id="hidden_select" name="hidden_select" style="visibility:hidden ">

            </select>

            <button id ="endGenomicEntry" type="button" form="form" value="StopGenomicValue" style="visibility: hidden">select Clinic Value</button>
            Experiment Name:
            <select id="first-choice" name="experiment" onchange="setTumorName('first-choice')">

            </select>
<b>
</b>

            <div id="idgenomicdiv" name ="genomicdiv"></div>
            <div id="idclinicdiv" name="clinicdiv"></div>
            <div id="hidden-div" name="hidden-div"></div>

            <!--second raw-->
            <select id="hidden-until-second-choice" name="hidden-until-second-choice" style="visibility: hidden">

            </select>
        </form>

        <button type="submit" form="form" value="search" style="visibility: hidden">search</button>

    </div>
    <hr>
    <span class="fa fa-sign-in"> Don't have an account?<a href="/signup"> Signup</a></span>
    <p>Or go <a href="/">home</a>.</p>
</div>
<script src=""></script>

<script>

    var queryarray=[];
    var genomicqueryarray=[];
    var clinicqueryarray=[];
    var genomicarray=[];
    var variabileglobaledipresenza= false;
    var genomicdata=0;
    var genomicname=0;
    var clinicData=0;
    var clinicName=0;
    var justASpace ="<br>";


    setExperimentsNames();

    function setExperimentsNames(){
        $.ajax({
            url: '/searchtool',
            type: 'GET',
            dataType: 'json',
            success: function (experiment) {
                console.log(experiment);
                var string = "<option value=\"\" selected=\"selected\" ></option>";
                for(var i = 0; i<experiment.length; i++){
                    string = string + "<option value=\"" + experiment[i] + "\">" + experiment[i] + "</option>";
                }
                $('#form #first-choice').empty().append(string);

            },
            error: function (xhr, status, error) {
                console.log('Error: ' + error.message);
                $('#lblResponse').html('Error connecting to the server.');
            }
        });
    }


    function setTumorName(tumorName) {
        console.log("contenuto tumorName:"+tumorName);
        var element = document.getElementById(tumorName);
        var content = element.options[element.selectedIndex].value;
        queryarray.push(content);
        console.log("contenuto element:"+element);
        console.log("contenuto content:"+content);

        if(content.trim()===""){
            console.log("primo");
            if(variabileglobaledipresenza===true){
                console.log("secondo");
                $('#form #idtumornames').remove();
                //piu rimuovere le altre cose
            }

        }
        else if(variabileglobaledipresenza === false) {
            console.log(tumorName);
            console.log(content);
            console.log("io sono in setTumorname  "+queryarray);
            //fai query in db poi questo

            $.ajax({
                url: '/searchtooltumorname',
                type: 'GET',
                dataType: 'json',
                data:{queryarray:queryarray},
                success: function (listtumornames) {

                    var form = $('#form')
                    var name="<h2> Tumor Name</h2>";
                    $('#form').append(name);
                    $('#form #name_of_tumor').clone(true).attr('style', 'visibility:visible').appendTo(form);
                    $('#form #hidden_select').clone(true).attr('name', 'tumorNames').attr('id', 'idtumornames').attr('style', 'visibility:visible').attr('onchange', "setGenomicNameFields('idtumornames')").appendTo(form)

                    var string = "<option value=\"\" selected=\"selected\" ></option>";
                    for(var i = 0; i<listtumornames.length; i++){
                        console.log("terzo");
                        string = string + "<option value=\"" + listtumornames[i] + "\">" + listtumornames[i] + "</option>";
                    }
                    console.log(string);
                    $('#form #idtumornames').empty().append(string);

                },
                error: function (xhr, status, error) {
                    console.log('Error: ' + error.message);
                    $('#lblResponse').html('Error connecting to the server.');
                }
            });



            variabileglobaledipresenza = /*true*/false;
        }
    }
function setGenomicNameFields(idtumornames){
    //query con  var element = document.getElementById(tumorName);
   // var content = element.options[element.selectedIndex].value;
    // per ognuno per prendere l'id e poi fai partire query che mostra gli elementi da mostrare all'utente.
    //2 aggungere un tasto CErca per far iniziare la query e posizionarlo alla fine (append to inserisce alla fine, farli inserire alla fine -1)
    //3 ricordarsi sempre di modificare

    console.log("contenuto idtumorname:"+idtumornames);
    var element= document.getElementById(idtumornames);
    var content= element.options[element.selectedIndex].value;


    console.log("io sono in SetGenomicNameFields"+queryarray);
    console.log("contenuto element:"+element);
    console.log("contenuto content:"+content);

    if(content.trim()===""){
        console.log("primo");
        if(variabileglobaledipresenza===true){
            console.log("secondo");
            $('#form #genomicName'+[genomicname]).remove();
            //piu rimuovere le altre cose
        }
    }
    else if(variabileglobaledipresenza === false) {
        console.log(idtumornames);
        console.log(content);



        var form = $('#form')
        var divgenomic = $('#idgenomicdiv')
        /*var divclinic=$('#idclinicdiv');*/
        queryarray.push(content);

        if(genomicname===0) {
            var name="<h2> Genetic value</h2>";
            $('#form').append(name);
            $("#idgenomicdiv").detach().appendTo(form);
        }
        if(clinicName===0){
            var name="<h2> Clinic value</h2>";
            $('#form').append(name);
            $("#idclinicdiv").detach().appendTo(form);
        }
        if(clinicName===0 && genomicname===0){
            setClinicNameFields(idtumornames);

        };
        if(genomicname===0) {
            $.ajax({
                url: '/searchtoolGenomicFieldsName',
                type: 'GET',
                dataType: 'json',
                data: {queryarray: queryarray},
                success: function (listGenomicFields) {
                    genomicarray=listGenomicFields;
                    $('#form #hidden_select').clone(true).attr('name', 'genomicName').attr('id', 'genomicName' + [genomicname]).attr('style', 'visibility:visible').attr('onchange', "setGenomicDataFields('genomicName"+[genomicdata]+"')").appendTo(divgenomic);
                    var stringg = "<option value=\"\" selected=\"selected\" ></option>";
                    for (var i = 0; i < listGenomicFields.length; i++) {
                        console.log("terzo");
                        stringg = stringg + "<option value=\"" + listGenomicFields[i] + "\">" + listGenomicFields[i] + "</option>";
                    }
                    $('#form #idgenomicdiv #genomicName' + [genomicname]).empty().append(stringg);
                    genomicname = genomicname + 1;

                },
                error: function (xhr, status, error) {
                    console.log('Error: ' + error.message);
                    $('#lblResponse').html('Error connecting to the server.');
                }
            });
        }else {
            $('#form #hidden_select').clone(true).attr('name', 'genomicName').attr('id', 'genomicName' + [genomicname]).attr('style', 'visibility:visible').attr('onchange', "setGenomicDataFields('genomicName"+[genomicdata]+"')").appendTo(divgenomic);
            var stringg = "<option value=\"\" selected=\"selected\" ></option>";
            for (var i = 0; i < genomicarray.length; i++) {
                console.log("terzo");
                stringg = stringg + "<option value=\"" + genomicarray[i] + "\">" + genomicarray[i] + "</option>";
            }
            $('#form #idgenomicdiv #genomicName' + [genomicname]).empty().append(stringg);
            genomicname = genomicname + 1;
        }
        variabileglobaledipresenza = false;
    }
}

    function setGenomicDataFields(clinicName){
        var element= document.getElementById(clinicName);
        var content= element.options[element.selectedIndex].value;


        if(content.trim()===""){
            console.log("primo");
            if(variabileglobaledipresenza===true){
                console.log("secondo");
                $('#form #genomicData'+[genomicdata]).remove();
                //piu rimuovere le altre cose
            }

        }
        else if(variabileglobaledipresenza === false) {
            genomicqueryarray.push(content);
            console.log(clinicName);
            console.log(content);

            $.ajax({
                url: '/searchtoolGenomicFieldsData',
                type: 'GET',
                dataType: 'json',
                data: {
                    queryarray: queryarray,
                    genomicqueryarray:genomicqueryarray
                },
                success: function (queryresults) {
                    var form = $('#form')
                    $('#form #hidden_select').clone(true).attr('name', 'genomicData').attr('id', 'genomicData'+[genomicdata]).attr('style', 'visibility:visible').attr('onchange', "setGenomicNameFields('idtumornames')").appendTo('#idgenomicdiv');

                    $('#form #idgenomicdiv').append(justASpace);
                    var string = "<option value=\"\" selected=\"selected\" ></option>";
                    for(var i = 0; i<queryresults.length; i++){
                        console.log("terzo");
                        string = string + "<option value=\"" + queryresults[i] + "\">" + queryresults[i] + "</option>";
                    }
                    console.log(string);
                    $('#form #idgenomicdiv #genomicData'+[genomicdata]).empty().append(string);
                    genomicdata=genomicdata+1;

                },
                error: function (xhr, status, error) {
                    console.log('Error: ' + error.message);
                    $('#lblResponse').html('Error connecting to the server.');
                }
            });
            variabileglobaledipresenza = false;

        }
    };

    function setClinicNameFields(idtumornames){
        console.log("contenuto idtumorname:"+idtumornames);
        var element= document.getElementById(idtumornames);
        var content= element.options[element.selectedIndex].value;
        var divclinic=$('#idclinicdiv');

        console.log("contenuto element:"+element);
        console.log("contenuto content:"+content);

        if(content.trim()===""){
            console.log("primo");
            if(variabileglobaledipresenza===true){
                console.log("secondo");
                $('#form #clinicName'+[clinicName]).remove();
                //piu rimuovere le altre cose
            }

        }
        else if(variabileglobaledipresenza === false) {
            console.log(idtumornames);
            console.log(content);

            $.ajax({
                url: '/searchtoolClinicNameFields',
                type: 'GET',
                data:{
                    queryarray: queryarray
                },
                dataType: 'json',
                success: function (clinicNameFields) {
                    $('#form #hidden_select').clone(true).attr('name', 'clinicName').attr('id', 'clinicName' + [clinicName]).attr('style', 'visibility:visible').attr('onchange', "setClinicDataFields('clinicName"+[clinicData]+"')").appendTo(divclinic);
                    console.log(clinicNameFields);
                    var string = "<option value=\"\" selected=\"selected\" ></option>";
                    for(var i = 0; i<clinicNameFields.length; i++){
                        string = string + "<option value=\"" + clinicNameFields[i] + "\">" + clinicNameFields[i] + "</option>";
                    }
                    $('#form #idclinicdiv #clinicName'+[clinicData]).empty().append(string);
                    clinicName=clinicName+1;


                },
                error: function (xhr, status, error) {
                    console.log('Error: ' + error.message);
                    $('#lblResponse').html('Error connecting to the server.');
                }
            });


            /*var datas=["è tardi", "non facciamo in tempo", "fidati", "non ti preccupare", "ce la faremo"];
            console.log(datas.length);
            var form = $('#form')
            if(clinicName===0) {
                var name="<h2> Clinic Values</h2>";
                $('#form').append(name);
            }
            $('#form #hidden_select').clone(true).attr('name', 'clinicName').attr('id', 'clinicName'+[clinicName]).attr('style', 'visibility:visible').attr('onchange', "setClinicDataFields('idtumornames')").appendTo(form);

            var string = "<option value=\"\" selected=\"selected\" ></option>";
            for(var i = 0; i<datas.length; i++){
                console.log("terzo");
                string = string + "<option value=\"" + datas[i] + "\">" + datas[i] + "</option>";
            }
            console.log(string);
            $('#form #clinicName'+[clinicName]).empty().append(string);
            clinicName= clinicName+1;*/
/*            if(clinicName>= 4){
                $('#form #endGenomicEntry').clone(true).attr('style', 'visibility:visible').attr('name','endGenomicData'+[genomicdata]).attr('id','endGenomicEntry'+[genomicdata]).attr('onclick',"setClinicNameFields('idtumornames')").appendTo(form);
            }*/
            variabileglobaledipresenza = false;

        }
    }

    function setClinicDataFields(idtumornames){
        console.log("contenuto idtumorname:"+idtumornames);
        var element= document.getElementById(idtumornames);
        var content= element.options[element.selectedIndex].value;
        console.log("contenuto element:"+element);
        console.log("contenuto content:"+content);

        if(content.trim()===""){
            console.log("primo");
            if(variabileglobaledipresenza===true){
                console.log("secondo");
                $('#form #clinicName'+[clinicName]).remove();
                //piu rimuovere le altre cose
            }

        }
        else if(variabileglobaledipresenza === false) {
            clinicqueryarray.push(content);
            console.log(idtumornames);
            console.log(content);



            $.ajax({
                url: '/searchtoolClinicDataFields',
                type: 'GET',
                dataType: 'json',
                data: {
                    queryarray: queryarray,
                    clinicqueryarray:clinicqueryarray
                },
                success: function (queryresults) {

                    var form = $('#form')
                    $('#form #hidden_select').clone(true).attr('name', 'clinicData').attr('id', 'clinicData'+[clinicData]).attr('style', 'visibility:visible').attr('onchange', "setClinicNameFields('idtumornames')").appendTo('#idclinicdiv');

                    $('#form #idclinicdiv').append(justASpace);
                    var string = "<option value=\"\" selected=\"selected\" ></option>";
                    for(var i = 0; i<queryresults.length; i++){
                        console.log("terzo");
                        string = string + "<option value=\"" + queryresults[i] + "\">" + queryresults[i] + "</option>";
                    }
                    console.log(string);
                    $('#form #idclinicdiv #clinicData'+[clinicData]).empty().append(string);
                    clinicData= clinicData+1;


                },
                error: function (xhr, status, error) {
                    console.log('Error: ' + error.message);
                    $('#lblResponse').html('Error connecting to the server.');
                }
            });

            variabileglobaledipresenza = false;

        }
    }

</script>
</body>


</html>